<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
</head>
<body>
    <form action="/addpost" method="POST" enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" placeholder="Enter your title" name="title">
        <br>
        <label for="body">Body:</label>
        <textarea name="body" cols="30" rows="10" placeholder="Enter your content"></textarea>
        <br>
        <label for="image">Image:</label>
        <input type="file" name="image">
        <br>
        <input type="submit" value="Submit" class="button">
    </form>
</body>
</html>
